In [1]:
import pandas as pd

In [2]:
surveys_df = pd.read_csv('surveys.csv')

In [4]:
surveys_df.species_id

0         NL
1         NL
2         DM
3         DM
4         DM
5         PF
6         PE
7         DM
8         DM
9         PF
10        DS
11        DM
12        DM
13        DM
14        DM
15        DM
16        DS
17        PP
18        PF
19        DS
20        DM
21        NL
22        DM
23        SH
24        DM
25        DM
26        DM
27        DM
28        PP
29        DS
        ...
35519     SF
35520     DM
35521     DM
35522     DM
35523     PB
35524     OL
35525     OT
35526     DO
35527     US
35528     PB
35529     OT
35530     PB
35531     DM
35532     DM
35533     DM
35534     DM
35535     DM
35536     DM
35537     PB
35538     SF
35539     PB
35540     PB
35541     PB
35542     PB
35543     US
35544     AH
35545     AH
35546     RM
35547     DO
35548    NaN
Name: species_id, dtype: object

In [5]:
surveys_species = surveys_df['species_id']
surveys_species.head()

0    NL
1    NL
2    DM
3    DM
4    DM
Name: species_id, dtype: object

In [8]:
surveys_df[['species_id', 'plot_id']].head()

  species_id  plot_id
0         NL        2
1         NL        3
2         DM        2
3         DM        7
4         DM        3

In [9]:
surveys_df[['species_id']].head()

  species_id
0         NL
1         NL
2         DM
3         DM
4         DM

In [10]:
nums = [1,2,3,4,5]

In [12]:
#index by row then column
surveys_df.iloc[0:3, 1:4]

   month  day  year
0      7   16  1977
1      7   16  1977
2      7   16  1977

In [14]:
surveys_df.loc[[0,10],:]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN

In [15]:
surveys_df.loc[0, ['species_id', 'plot_id', 'weight']]

species_id     NL
plot_id         2
weight        NaN
Name: 0, dtype: object

In [20]:
#tells you type of df
type(surveys_df.loc[[0, 10, 45549],:])

pandas.core.frame.DataFrame

In [22]:
# actually accesses data so tells type of data
type(surveys_df.iloc[2,6])

str

In [23]:
surveys_df[surveys_df.year == 2002]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
33320,33321,1,12,2002,1,DM,M,38.0,44.0
33321,33322,1,12,2002,1,DO,M,37.0,58.0
33322,33323,1,12,2002,1,PB,M,28.0,45.0
33323,33324,1,12,2002,1,AB,NaN,NaN,NaN
33324,33325,1,12,2002,1,DO,M,35.0,29.0
33325,33326,1,12,2002,2,OT,F,20.0,26.0
33326,33327,1,12,2002,2,OT,M,20.0,24.0
33327,33328,1,12,2002,2,OT,F,21.0,22.0
33328,33329,1,12,2002,2,DM,M,37.0,47.0
33329,33330,1,12,2002,2,DO,M,35.0,51.0
33330,33331,1,12,2002,2,PE,F,21.0,23.0
33331,33332,1,12,2002,2,OT,F,20.0,18.0
33332,33333,1,12,2002,2,OT,M,20.0,25.0
33333,33334,1,12,2002,2,OT,F,20.0,22.0
33334,33335,1,12,2002,2,DO,F,36.0,46.0
33335,33336,1,12,2002,2,DM,F,35.0,45.0
33336,33337,1,12,2002,2,PB,M,28.0,47.0
33337,33338,1,12,2002,2,PB,F,26.0,30.0
33338,33339,1,12,2002,2,NL,NaN,NaN,NaN
33339,33340,1,12,2002,12,DO,M,34.0,24.0
33340,33341,1,12,2002,12,PE,F,20.0,15.0
33341,33342,1,12,2002,12,DO,F,36.0,26.0
33342,33343,1,12,2002,12,DO,F,37.0,47.0
33343,33344,1,12,2002,12,DM,M,36.0,40.0
33344,33345,1,12,2002,12,DO,M,37.0,55.0
33345,33346,1,12,2002,12,PE,M,21.0,23.0
33346,33347,1,12,2002,12,DM,F,37.0,45.0
33347,33348,1,12,2002,19,PB,M,29.0,51.0
33348,33349,1,12,2002,19,PB,M,27.0,46.0
33349,33350,1,12,2002,19,PP,F,20.0,13.0
...,...,...,...,...,...,...,...,...,...
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35523,35524,12,31,2002,9,PB,F,25.0,27.0
35524,35525,12,31,2002,9,OL,M,21.0,26.0
35525,35526,12,31,2002,8,OT,F,20.0,24.0
35526,35527,12,31,2002,13,DO,F,33.0,43.0
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35528,35529,12,31,2002,13,PB,F,25.0,25.0
35529,35530,12,31,2002,13,OT,F,20.0,NaN
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0
35537,35538,12,31,2002,15,PB,F,26.0,31.0
35538,35539,12,31,2002,15,SF,M,26.0,68.0
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [25]:
surveys_df.year.head()

0    1977
1    1977
2    1977
3    1977
4    1977
Name: year, dtype: int64

In [26]:
surveys_df[surveys_df.year != 2002].head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

In [29]:
surveys_df[(surveys_df.year >= 1980)&(surveys_df.year <= 1985)].head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
2270,2271,1,15,1980,8,DO,M,35.0,53.0
2271,2272,1,15,1980,11,PF,F,16.0,10.0
2272,2273,1,15,1980,18,DM,F,34.0,33.0
2273,2274,1,15,1980,11,DM,M,38.0,37.0
2274,2275,1,15,1980,8,DO,F,33.0,29.0

In [30]:
surveys_df[(surveys_df.year == 1999)&(surveys_df.weight <= 8)]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
29082,29083,1,16,1999,21,RM,M,16.0,8.0
29196,29197,2,20,1999,18,RM,M,18.0,8.0
29421,29422,3,15,1999,16,RM,M,15.0,8.0
29903,29904,10,10,1999,4,PP,M,20.0,7.0
29905,29906,10,10,1999,4,PP,M,21.0,4.0

In [34]:
surveys_df[surveys_df['species_id'].isin(['RM'])]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
310,311,10,17,1977,19,RM,M,18.0,13.0
396,397,11,13,1977,17,RM,F,16.0,7.0
694,695,3,12,1978,17,RM,NaN,NaN,NaN
1477,1478,12,2,1978,19,RM,M,17.0,8.0
1493,1494,12,2,1978,21,RM,F,17.0,7.0
2134,2135,10,25,1979,3,RM,M,14.0,7.0
2149,2150,11,17,1979,3,RM,M,13.0,7.0
2153,2154,11,17,1979,14,RM,F,14.0,9.0
2184,2185,11,17,1979,24,RM,M,14.0,7.0
2254,2255,11,18,1979,11,RM,F,15.0,9.0
2257,2258,11,18,1979,19,RM,F,12.0,11.0
2287,2288,1,15,1980,19,RM,F,17.0,12.0
2302,2303,1,15,1980,19,RM,F,18.0,9.0
2314,2315,1,15,1980,17,RM,F,17.0,9.0
2315,2316,1,15,1980,19,RM,M,16.0,9.0
2326,2327,1,15,1980,10,RM,M,16.0,10.0
2378,2379,1,16,1980,15,RM,F,15.0,10.0
2418,2419,2,24,1980,19,RM,M,15.0,10.0
2419,2420,2,24,1980,20,RM,F,16.0,12.0
2424,2425,2,24,1980,11,RM,F,17.0,16.0
2431,2432,2,24,1980,21,RM,F,14.0,8.0
2441,2442,2,24,1980,10,RM,M,16.0,10.0
2508,2509,2,25,1980,13,RM,M,14.0,8.0
2511,2512,2,25,1980,3,RM,M,16.0,11.0
2512,2513,2,25,1980,3,RM,M,17.0,11.0
2517,2518,2,25,1980,2,RM,F,17.0,9.0
2522,2523,2,25,1980,15,RM,F,16.0,9.0
2528,2529,2,25,1980,15,RM,M,15.0,8.0
2536,2537,3,9,1980,3,RM,M,NaN,10.0
2572,2573,3,9,1980,3,RM,F,NaN,14.0
...,...,...,...,...,...,...,...,...,...
31869,31870,3,24,2001,18,RM,F,17.0,15.0
33106,33107,11,17,2001,23,RM,F,17.0,9.0
33112,33113,11,17,2001,24,RM,F,16.0,9.0
33257,33258,12,15,2001,18,RM,M,11.0,16.0
33258,33259,12,15,2001,18,RM,F,16.0,12.0
33289,33290,12,15,2001,23,RM,M,16.0,9.0
33291,33292,12,15,2001,23,RM,F,16.0,8.0
33296,33297,12,15,2001,20,RM,M,16.0,11.0
33297,33298,12,15,2001,20,RM,F,16.0,8.0
33303,33304,12,15,2001,24,RM,M,16.0,10.0
33404,33405,2,9,2002,2,RM,M,19.0,8.0
33453,33454,2,9,2002,18,RM,F,16.0,12.0
33460,33461,2,9,2002,19,RM,M,17.0,12.0
33482,33483,2,9,2002,20,RM,M,18.0,10.0
33489,33490,2,9,2002,23,RM,M,18.0,11.0
33550,33551,2,10,2002,15,RM,F,17.0,7.0
33553,33554,2,10,2002,15,RM,F,17.0,10.0
33556,33557,2,10,2002,5,RM,F,17.0,9.0
33560,33561,2,10,2002,10,RM,F,17.0,8.0
33604,33605,3,13,2002,18,RM,M,17.0,11.0
33729,33730,3,14,2002,15,RM,F,17.0,7.0
34014,34015,5,15,2002,20,RM,M,18.0,10.0
34173,34174,5,16,2002,5,RM,M,17.0,11.0
34279,34280,6,15,2002,23,RM,M,16.0,7.0
34280,34281,6,15,2002,23,RM,F,14.0,9.0
34527,34528,7,13,2002,24,RM,M,15.0,7.0
34662,34663,7,14,2002,16,RM,M,14.0,7.0
35067,35068,11,9,2002,24,RM,F,16.0,16.0
35073,35074,11,9,2002,23,RM,F,16.0,14.0
35546,35547,12,31,2002,10,RM,F,15.0,14.0

In [36]:
surveys_df[surveys_df.weight >= 0]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
62,63,8,19,1977,3,DM,M,35.0,40.0
63,64,8,19,1977,7,DM,M,37.0,48.0
64,65,8,19,1977,4,DM,F,34.0,29.0
65,66,8,19,1977,4,DM,F,35.0,46.0
66,67,8,19,1977,7,DM,M,35.0,36.0
67,68,8,19,1977,8,DO,F,32.0,52.0
68,69,8,19,1977,2,PF,M,15.0,8.0
69,70,8,19,1977,3,OX,F,21.0,22.0
70,71,8,19,1977,7,DM,F,36.0,35.0
73,74,8,19,1977,8,PF,M,12.0,7.0
74,75,8,19,1977,8,DM,F,32.0,22.0
77,78,8,19,1977,1,PF,M,16.0,9.0
78,79,8,19,1977,7,DM,F,34.0,42.0
80,81,8,19,1977,4,PF,F,14.0,8.0
81,82,8,19,1977,4,DM,F,35.0,41.0
82,83,8,20,1977,6,DM,F,37.0,37.0
83,84,8,20,1977,19,DM,F,35.0,43.0
84,85,8,20,1977,23,DM,F,35.0,41.0
85,86,8,20,1977,18,DM,F,33.0,40.0
86,87,8,20,1977,5,PF,F,11.0,9.0
87,88,8,20,1977,18,DM,F,35.0,45.0
88,89,8,20,1977,12,PP,F,20.0,15.0
89,90,8,20,1977,18,DM,M,35.0,29.0
91,92,8,20,1977,6,DM,M,35.0,39.0
92,93,8,20,1977,18,DM,NaN,NaN,42.0
93,94,8,20,1977,18,DM,F,36.0,43.0
94,95,8,20,1977,23,DM,M,38.0,46.0
95,96,8,20,1977,12,DM,M,36.0,41.0
96,97,8,20,1977,18,DM,M,36.0,41.0
97,98,8,20,1977,5,DM,M,38.0,40.0
...,...,...,...,...,...,...,...,...,...
35508,35509,12,31,2002,6,PB,M,26.0,47.0
35509,35510,12,31,2002,6,PB,F,26.0,30.0
35513,35514,12,31,2002,11,PP,M,23.0,18.0
35515,35516,12,31,2002,11,DO,F,35.0,52.0
35516,35517,12,31,2002,11,DM,F,36.0,42.0
35517,35518,12,31,2002,11,DO,M,36.0,38.0
35518,35519,12,31,2002,9,DM,M,37.0,49.0
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35523,35524,12,31,2002,9,PB,F,25.0,27.0
35524,35525,12,31,2002,9,OL,M,21.0,26.0
35525,35526,12,31,2002,8,OT,F,20.0,24.0
35526,35527,12,31,2002,13,DO,F,33.0,43.0
35528,35529,12,31,2002,13,PB,F,25.0,25.0
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0
35537,35538,12,31,2002,15,PB,F,26.0,31.0
35538,35539,12,31,2002,15,SF,M,26.0,68.0
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0

In [63]:
surveys_df[~(surveys_df['sex'].isin(['M'])) &
           (surveys_df.species_id == 'DM')].head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
2,3,7,16,1977,2,DM,F,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN

In [65]:
surveys_df[(surveys_df.year >= 1980)
            &(surveys_df.year <= 1985)
          & ~(surveys_df['species_id'].isnull())
          ].tail()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
11221,11222,12,8,1985,7,AB,NaN,NaN,NaN
11222,11223,12,8,1985,4,DM,M,36.0,40.0
11223,11224,12,8,1985,11,DM,M,37.0,49.0
11224,11225,12,8,1985,7,PE,M,20.0,18.0
11225,11226,12,8,1985,1,DM,M,38.0,47.0

In [67]:
surveys_df['species_id'].isnull().head()

0    False
1    False
2    False
3    False
4    False
Name: species_id, dtype: bool

In [69]:
pd.isnull(surveys_df).head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,True

In [74]:
surveys_df[~(pd.isnull(surveys_df).any(axis=1))]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
62,63,8,19,1977,3,DM,M,35.0,40.0
63,64,8,19,1977,7,DM,M,37.0,48.0
64,65,8,19,1977,4,DM,F,34.0,29.0
65,66,8,19,1977,4,DM,F,35.0,46.0
66,67,8,19,1977,7,DM,M,35.0,36.0
67,68,8,19,1977,8,DO,F,32.0,52.0
68,69,8,19,1977,2,PF,M,15.0,8.0
69,70,8,19,1977,3,OX,F,21.0,22.0
70,71,8,19,1977,7,DM,F,36.0,35.0
73,74,8,19,1977,8,PF,M,12.0,7.0
74,75,8,19,1977,8,DM,F,32.0,22.0
77,78,8,19,1977,1,PF,M,16.0,9.0
78,79,8,19,1977,7,DM,F,34.0,42.0
80,81,8,19,1977,4,PF,F,14.0,8.0
81,82,8,19,1977,4,DM,F,35.0,41.0
82,83,8,20,1977,6,DM,F,37.0,37.0
83,84,8,20,1977,19,DM,F,35.0,43.0
84,85,8,20,1977,23,DM,F,35.0,41.0
85,86,8,20,1977,18,DM,F,33.0,40.0
86,87,8,20,1977,5,PF,F,11.0,9.0
87,88,8,20,1977,18,DM,F,35.0,45.0
88,89,8,20,1977,12,PP,F,20.0,15.0
89,90,8,20,1977,18,DM,M,35.0,29.0
91,92,8,20,1977,6,DM,M,35.0,39.0
93,94,8,20,1977,18,DM,F,36.0,43.0
94,95,8,20,1977,23,DM,M,38.0,46.0
95,96,8,20,1977,12,DM,M,36.0,41.0
96,97,8,20,1977,18,DM,M,36.0,41.0
97,98,8,20,1977,5,DM,M,38.0,40.0
98,99,8,20,1977,11,DM,M,37.0,45.0
...,...,...,...,...,...,...,...,...,...
35507,35508,12,31,2002,6,PB,F,25.0,35.0
35508,35509,12,31,2002,6,PB,M,26.0,47.0
35509,35510,12,31,2002,6,PB,F,26.0,30.0
35513,35514,12,31,2002,11,PP,M,23.0,18.0
35515,35516,12,31,2002,11,DO,F,35.0,52.0
35516,35517,12,31,2002,11,DM,F,36.0,42.0
35517,35518,12,31,2002,11,DO,M,36.0,38.0
35518,35519,12,31,2002,9,DM,M,37.0,49.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35523,35524,12,31,2002,9,PB,F,25.0,27.0
35524,35525,12,31,2002,9,OL,M,21.0,26.0
35525,35526,12,31,2002,8,OT,F,20.0,24.0
35526,35527,12,31,2002,13,DO,F,33.0,43.0
35528,35529,12,31,2002,13,PB,F,25.0,25.0
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0
35537,35538,12,31,2002,15,PB,F,26.0,31.0
35538,35539,12,31,2002,15,SF,M,26.0,68.0
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0

In [93]:
surveys_df_nosex = surveys_df[(surveys_df['sex'].isnull())]
surveys_df_nosex

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
13,14,7,16,1977,8,DM,NaN,NaN,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
33,34,7,17,1977,17,DM,NaN,NaN,NaN
56,57,7,18,1977,22,DM,NaN,NaN,NaN
76,77,8,19,1977,4,SS,NaN,NaN,NaN
92,93,8,20,1977,18,DM,NaN,NaN,42.0
105,106,8,20,1977,12,NL,NaN,NaN,NaN
106,107,8,20,1977,18,NL,NaN,NaN,NaN
109,110,8,20,1977,10,DS,NaN,NaN,NaN
120,121,8,21,1977,15,NL,NaN,NaN,NaN
154,155,8,21,1977,20,DS,NaN,NaN,NaN
170,171,9,11,1977,12,NL,NaN,NaN,NaN
192,193,9,12,1977,7,PE,NaN,NaN,NaN
193,194,9,12,1977,11,NL,NaN,NaN,NaN
211,212,9,12,1977,16,PF,NaN,NaN,NaN
213,214,9,12,1977,17,NL,NaN,NaN,NaN
220,221,9,13,1977,3,DM,NaN,NaN,NaN
223,224,9,13,1977,2,NL,NaN,NaN,NaN
224,225,9,13,1977,15,DM,NaN,NaN,NaN
226,227,9,13,1977,15,DM,NaN,NaN,NaN
229,230,9,13,1977,15,DM,NaN,NaN,NaN
230,231,9,13,1977,15,DS,NaN,NaN,NaN
240,241,9,13,1977,3,DS,NaN,NaN,NaN
265,266,10,16,1977,2,NL,NaN,NaN,NaN
271,272,10,16,1977,18,NL,NaN,NaN,NaN
276,277,10,16,1977,6,OL,NaN,20.0,21.0
280,281,10,16,1977,20,NL,NaN,NaN,NaN
281,282,10,16,1977,22,NL,NaN,NaN,NaN
295,296,10,17,1977,17,OT,NaN,18.0,21.0
296,297,10,17,1977,11,NL,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
34748,34749,9,10,2002,6,AH,NaN,NaN,NaN
34754,34755,9,10,2002,5,NaN,NaN,NaN,NaN
34755,34756,9,10,2002,10,NaN,NaN,NaN,NaN
34756,34757,9,10,2002,23,NaN,NaN,NaN,NaN
34783,34784,10,5,2002,17,SS,NaN,NaN,NaN
34789,34790,10,5,2002,17,PB,NaN,26.0,NaN
34852,34853,10,5,2002,20,PB,NaN,NaN,NaN
34929,34930,10,6,2002,15,AH,NaN,NaN,NaN
34969,34970,10,6,2002,10,NaN,NaN,NaN,NaN
35016,35017,11,9,2002,18,PB,NaN,NaN,NaN
35026,35027,11,9,2002,12,AH,NaN,NaN,NaN
35137,35138,11,10,2002,9,SS,NaN,NaN,NaN
35168,35169,11,10,2002,14,AH,NaN,NaN,NaN
35187,35188,11,10,2002,10,NaN,NaN,NaN,NaN
35277,35278,12,7,2002,20,AH,NaN,NaN,NaN
35322,35323,12,8,2002,11,AH,NaN,NaN,NaN
35370,35371,12,8,2002,14,AH,NaN,NaN,NaN
35384,35385,12,8,2002,10,NaN,NaN,NaN,NaN
35457,35458,12,29,2002,20,AH,NaN,NaN,NaN
35477,35478,12,29,2002,24,AH,NaN,NaN,NaN
35495,35496,12,31,2002,4,PB,NaN,NaN,NaN
35510,35511,12,31,2002,11,DX,NaN,NaN,NaN
35511,35512,12,31,2002,11,US,NaN,NaN,NaN
35512,35513,12,31,2002,11,US,NaN,NaN,NaN
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [95]:
surveys_df_nosex.loc[:,['sex']]='x'
surveys_df_nosex

/Users/lucymorris/anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:461: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
13,14,7,16,1977,8,DM,x,NaN,NaN
18,19,7,16,1977,4,PF,x,NaN,NaN
33,34,7,17,1977,17,DM,x,NaN,NaN
56,57,7,18,1977,22,DM,x,NaN,NaN
76,77,8,19,1977,4,SS,x,NaN,NaN
92,93,8,20,1977,18,DM,x,NaN,42.0
105,106,8,20,1977,12,NL,x,NaN,NaN
106,107,8,20,1977,18,NL,x,NaN,NaN
109,110,8,20,1977,10,DS,x,NaN,NaN
120,121,8,21,1977,15,NL,x,NaN,NaN
154,155,8,21,1977,20,DS,x,NaN,NaN
170,171,9,11,1977,12,NL,x,NaN,NaN
192,193,9,12,1977,7,PE,x,NaN,NaN
193,194,9,12,1977,11,NL,x,NaN,NaN
211,212,9,12,1977,16,PF,x,NaN,NaN
213,214,9,12,1977,17,NL,x,NaN,NaN
220,221,9,13,1977,3,DM,x,NaN,NaN
223,224,9,13,1977,2,NL,x,NaN,NaN
224,225,9,13,1977,15,DM,x,NaN,NaN
226,227,9,13,1977,15,DM,x,NaN,NaN
229,230,9,13,1977,15,DM,x,NaN,NaN
230,231,9,13,1977,15,DS,x,NaN,NaN
240,241,9,13,1977,3,DS,x,NaN,NaN
265,266,10,16,1977,2,NL,x,NaN,NaN
271,272,10,16,1977,18,NL,x,NaN,NaN
276,277,10,16,1977,6,OL,x,20.0,21.0
280,281,10,16,1977,20,NL,x,NaN,NaN
281,282,10,16,1977,22,NL,x,NaN,NaN
295,296,10,17,1977,17,OT,x,18.0,21.0
296,297,10,17,1977,11,NL,x,NaN,NaN
...,...,...,...,...,...,...,...,...,...
34748,34749,9,10,2002,6,AH,x,NaN,NaN
34754,34755,9,10,2002,5,NaN,x,NaN,NaN
34755,34756,9,10,2002,10,NaN,x,NaN,NaN
34756,34757,9,10,2002,23,NaN,x,NaN,NaN
34783,34784,10,5,2002,17,SS,x,NaN,NaN
34789,34790,10,5,2002,17,PB,x,26.0,NaN
34852,34853,10,5,2002,20,PB,x,NaN,NaN
34929,34930,10,6,2002,15,AH,x,NaN,NaN
34969,34970,10,6,2002,10,NaN,x,NaN,NaN
35016,35017,11,9,2002,18,PB,x,NaN,NaN
35026,35027,11,9,2002,12,AH,x,NaN,NaN
35137,35138,11,10,2002,9,SS,x,NaN,NaN
35168,35169,11,10,2002,14,AH,x,NaN,NaN
35187,35188,11,10,2002,10,NaN,x,NaN,NaN
35277,35278,12,7,2002,20,AH,x,NaN,NaN
35322,35323,12,8,2002,11,AH,x,NaN,NaN
35370,35371,12,8,2002,14,AH,x,NaN,NaN
35384,35385,12,8,2002,10,NaN,x,NaN,NaN
35457,35458,12,29,2002,20,AH,x,NaN,NaN
35477,35478,12,29,2002,24,AH,x,NaN,NaN
35495,35496,12,31,2002,4,PB,x,NaN,NaN
35510,35511,12,31,2002,11,DX,x,NaN,NaN
35511,35512,12,31,2002,11,US,x,NaN,NaN
35512,35513,12,31,2002,11,US,x,NaN,NaN
35519,35520,12,31,2002,9,SF,x,24.0,36.0
35527,35528,12,31,2002,13,US,x,NaN,NaN
35543,35544,12,31,2002,15,US,x,NaN,NaN
35544,35545,12,31,2002,15,AH,x,NaN,NaN
35545,35546,12,31,2002,15,AH,x,NaN,NaN
35548,35549,12,31,2002,5,NaN,x,NaN,NaN